.sugerencia-contenedor{ position: absolute; position: absolute; z-index: 10; background: white; width: 89.5%; list-style-type: none; padding-left: 12px; border: 1px solid #ccc;}
.sugerencia-contenedor > li > label { width: 88.5%; }
.sugerencia-contenedor > li > label:hover {cursor: pointer; background: #FAFAFA}